---

---

<div transition:animate='fade' class='nav-links'>
  <a href='/'>Home</a>
  <!-- data-astro-reload for no view transitions -->
  <a href='/about' data-astro-reload>About</a>
  <a href='/blog'>Blog</a>
  <a href='/tags'>Tags</a>
</div>
